body {
    background: #c6c6c6;
    font-family: 'Poppins', sans-serif;
}

.cloudimage-360-view-360-icon {
    display: none;
}

.container {
    width: 900px; 
    margin: 150px auto;
}

@media screen and (max-width: 600px)  {
    .container {
        width: 350px; 
        margin: 150px auto;
    }
}